<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="cn.yhj.dao.UserLoginDao">

	<resultMap id="BaseResultMap" type="cn.yhj.entity.UserLogin">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="userCode" property="userCode" jdbcType="VARCHAR" />
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="passWord" property="passWord" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id,userCode,userName,passWord
	</sql>
	
	<!-- 加载数据 -->
	<select id="selectUser" resultMap="BaseResultMap" parameterType="cn.yhj.entity.UserLogin">
		select
			<include refid="Base_Column_List" />
		from
			userLogin
		where 1=1  
		<if test="userCode != null and userCode != ''">
			and userCode =#{userCode}
		</if>
		<if test="userName != null and userName != ''">
			and userName =#{userName}
		</if>
		<if test="passWord != null and passWord != ''">
			and passWord =#{passWord}
		</if>
	</select>
	
	<!-- 
	<select id="getUserByUserCode" resultMap="BaseResultMap"
		parameterType="com.eig.cips.sys.pojo.User">
		SELECT
		<include refid="Base_Column_List" />
		from sys_user a
		WHERE a.user_code = #{userCode}
	</select>
	
	保存修改数据
	<update id="update" flushCache="true" parameterType="com.eig.cips.sys.pojo.User">
	    update sys_user
	    <set >
	      <if test="userType != null" >
	        user_type = #{userType,jdbcType=VARCHAR},
	      </if>
	      <if test="userCode != null" >
	        user_code = #{userCode,jdbcType=VARCHAR},
	      </if>
	      <if test="username != null" >
	        username = #{username,jdbcType=VARCHAR},
	      </if>
	      <if test="password != null" >
	        password = #{password,jdbcType=VARCHAR},
	      </if>
	      <if test="phonenum != null" >
	        phonenum = #{phonenum,jdbcType=VARCHAR},
	      </if>
	      <if test="email != null" >
	        email = #{email,jdbcType=VARCHAR},
	      </if>
	      <if test="realname != null" >
	        realname = #{realname,jdbcType=VARCHAR},
	      </if>
	      <if test="activestatus != null" >
	        activestatus = #{activestatus,jdbcType=VARCHAR},
	      </if>
	      <if test="lastUpdatePwd != null" >
	        last_update_pwd = #{lastUpdatePwd,jdbcType=TIMESTAMP},
	      </if>
	      <if test="lockEndTime != null" >
	        lock_end_time = #{lockEndTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="fromChannelCode != null" >
	        from_channel_code = #{fromChannelCode,jdbcType=VARCHAR},
	      </if>
	      <if test="clientCode != null" >
	        client_code = #{clientCode,jdbcType=VARCHAR},
	      </if>
	      <if test="createtime != null" >
	        createtime = #{createtime,jdbcType=DATE},
	      </if>
	      <if test="updatetime != null" >
	        updatetime = #{updatetime,jdbcType=DATE},
	      </if>
	      <if test="creator != null" >
	        creator = #{creator,jdbcType=BIGINT},
	      </if>
	      <if test="updater != null" >
	        updater = #{updater,jdbcType=BIGINT},
	      </if>
	      <if test="payPasswd != null" >
	        pay_passwd = #{payPasswd,jdbcType=VARCHAR},
	      </if>
	      <if test="lockPayPasswd != null" >
	        LOCK_PAY_PASSWD = #{lockPayPasswd,jdbcType=TIMESTAMP},
	      </if>
	    </set>
	    where id = #{id,jdbcType=BIGINT}
	</update>

	通过username 加载数据
	<select id="getUserListByName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_user where username=#{username}
	</select>

	liletian 2015-07-24 Add
	<select id="getUserListByPhone" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_user where phonenum=#{phonenum}
	</select>

	<select id="findList" resultMap="BaseResultMap">
		SELECT a.*
		<include refid="Base_Column_List"/>
		from sys_user a
		<if test="role != null and role.id != null and role.id != ''">
			join sys_userrole b where a.id = b.userId and
			b.roleId=#{role.id}
		</if>
	</select>

	删除用户和角色关联表数据
	<delete id="deleteUserRole">
		DELETE from sys_userrole WHERE userid = #{id}
	</delete>
	
	插入用户和角色关联表数据
	<insert id="insertUserRole">
		INSERT INTO sys_userrole(userid,roleid,user_code)
		values
		<foreach collection="roleList" item="role" index="index"
			separator=",">
			(#{id},#{role.id},#{userCode})
		</foreach>
	</insert>
	
	<select id="getUserCodeByphone" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_user where phonenum=#{phonenum}
	</select>
	
	通过clientCode加载数据
	<select id="getUserByClientCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_user where client_code=#{clientCode}
	</select>
	
	<select id="getUserCodeByPhoneAndType" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_user where phonenum=#{phonenum} and user_type = '01'
	</select>
	
	  获取雇员列表      
	<select id="getUserList" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from sys_user 
	</select>
	
	 通过userCode查找用户信息  
	<select id="getByuserCode" parameterType="String" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from sys_user 
		where user_code=#{userCode}
	</select> -->
</mapper>